* {
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    background-color: #edeef0;
}

.app_wrapper {
    display: grid;
    width: 1200px;
    margin: 20px auto;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header, .content, .nav {
    box-shadow: 9px 9px 3px -8px rgba(49, 114, 165, 0.71);
}

.header {
    grid-area: h;
    background-color: aqua;
}

.header img {
    width: 42px;
}

.nav {
    grid-area: n;
    background-color: burlywood;
}

.content {
    grid-area: c;
    background-color: darkcyan;
}

.content img {
    width: 100%;
    height: 45vh;
}

.nav div, .content div:not(:first-of-type) {
    margin: 5px 10px 6px;
}