.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems a{
    color: #fff;
    text-decoration: none;
}

.dialogsItems .active{
    color: rgb(69, 19, 207);
    font-weight: 700;
    font-size: 18px;
}

.messages {
    padding: 20px;
}
